<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<div style="text-align: center;">
    <h1>Preview</h1>
    <canvas id="window" width="500" height="500"></canvas>
    <script>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms))
        }
        async function drawImage() {
            var c = document.getElementById("window")
            var ctx = c.getContext("2d")
            while (true) {
                var img = new Image()
                let url = '/previewframe'
                let imageurl
                fetch(url)
                .then(response => response.blob())
                .then(imageBlob => {
                    return URL.createObjectURL(imageBlob)})
                .then(url => {img.src=url})
                img.onload = function() {
                    ctx.drawImage(img, 0, 0)
                }
                
                await sleep(100)
            }
        }
        drawImage()
    </script>
    <br>
    <a href="/configure"> Click here to configure zone points </a>
</div>